@mixin valid {
  &:required:valid {
    @content;
  }
}

@mixin invalid {
  &:required:invalid {
    @content;
  }
}

.header-container{
  position:absolute;
}
.header-container + .form-field {
  margin-top: 50px;
}
.header-image{
  position:relative;
  top: -48px;
  left: 118px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Inter';

  .field-label {
    margin-top:21px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .form-input {
    width: 313px;
    height: 50px;
    box-sizing: border-box;
    margin-top:2px;

    color: #000000;
    background: #FFFFFF;
    border: 1px solid rgba(27, 58, 89, 0.4);
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left:16px;

    @include valid {
      border: 2px solid green;
    }
    @include invalid {
      border: 2px solid red;
    }
  }
}

.no-fields{
  width: 313px;
  height: 50px;
  text-align: center;
  margin-top:50px;
}
